.form-main {
  height: 314px;
  width: 1024px;
  margin-top: 20px;
  margin-left: 20px;
}

.main-menu {
  font-family: Consolas;
  margin-top: 20px;
  margin-left: 20px;
}

.input_title {
  height: 26px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 2px;
}


.input_search {
  height: auto;
  width: 120px;
  margin-bottom: 10px;
  padding-left: 2px;
}

.btn-normal {
  margin-bottom: 10px;
  cursor: pointer;
}

.spinner {
  position: fixed;
  top: 131px;
  left: 511px;
}

.modal-wrapper {
  position: fixed;
  top: 131px;
  left: 431px;
  z-index: 10;
  background-color: #0f74a8;
  padding: 35px 35px 35px 35px;
  color: white;
  font-size: medium;
  animation: fadein 0.5s;
}

/* 투명에서 불투명으로 */
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}


.btn-confirm {
  color: black;
}

.background-dummy {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 440px;
  width: 1034px;
  opacity: 0.5;
  background-color: grey;
  z-index: 5;
}
